<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>com.defcon.sortDescriptor</key>
		<array>
			<dict>
				<key>ascending</key>
				<array>
					<string>A</string>
					<string>K</string>
					<string>M</string>
					<string>N</string>
					<string>V</string>
					<string>W</string>
					<string>Y</string>
					<string>AE</string>
					<string>Ntilde</string>
					<string>Nacute</string>
					<string>Ncommaaccent</string>
					<string>Ncaron</string>
					<string>Eng</string>
					<string>NJ</string>
					<string>Nj</string>
					<string>grave.case</string>
					<string>acute.case</string>
					<string>dieresis.case</string>
					<string>macron.case</string>
					<string>cedilla.case</string>
					<string>circumflex.case</string>
					<string>caron.case</string>
					<string>breve.case</string>
					<string>dotaccent.case</string>
					<string>ring.case</string>
					<string>ogonek.case</string>
					<string>tilde.case</string>
					<string>hungarumlaut.case</string>
					<string>hookabove.case</string>
					<string>breveinverted.case</string>
					<string>dblgrave.case</string>
					<string>horn.case</string>
					<string>dotbelow.case</string>
					<string>dieresisbelow.case</string>
					<string>commaaccent.case</string>
					<string>brevebelow.case</string>
					<string>macronbelow.case</string>
					<string>gravecomb.case</string>
					<string>acutecomb.case</string>
					<string>dieresiscomb.case</string>
					<string>macroncomb.case</string>
					<string>cedillacomb.case</string>
					<string>circumflexcomb.case</string>
					<string>caroncomb.case</string>
					<string>brevecomb.case</string>
					<string>dotaccentcomb.case</string>
					<string>ogonekcomb.case</string>
					<string>tildecomb.case</string>
					<string>hungarumlautcomb.case</string>
					<string>hookabovecomb.case</string>
					<string>breveinvertedcomb.case</string>
					<string>dblgravecomb.case</string>
					<string>horncomb.case</string>
					<string>dotbelowcomb.case</string>
					<string>dieresisbelowcomb.case</string>
					<string>commaaccentcomb.case</string>
					<string>brevebelowcomb.case</string>
					<string>macronbelowcomb.case</string>
					<string>gravecombstack.case</string>
					<string>acutecombstack.case</string>
					<string>dieresiscombstack.case</string>
					<string>macroncombstack.case</string>
					<string>circumflexcombstack.case</string>
					<string>brevecombstack.case</string>
					<string>dotaccentcombstack.case</string>
					<string>tildecombstack.case</string>
					<string>hookabovecombstack.case</string>
					<string>grave-stack.case</string>
					<string>acute-stack.case</string>
					<string>dieresis-stack.case</string>
					<string>macron-stack.case</string>
					<string>circumflex-stack.case</string>
					<string>caron-stack.case</string>
					<string>breve-stack.case</string>
					<string>dotaccent-stack.case</string>
					<string>ring-stack.case</string>
					<string>tilde-stack.case</string>
					<string>hungarumlaut-stack.case</string>
					<string>hook-stack.case</string>
					<string>breveinverted-stack.case</string>
					<string>dblgrave-stack.case</string>
					<string>gravecomb-stack.case</string>
					<string>acutecomb-stack.case</string>
					<string>dieresiscomb-stack.case</string>
					<string>macroncomb-stack.case</string>
					<string>circumflexcomb-stack.case</string>
					<string>caroncomb-stack.case</string>
					<string>brevecomb-stack.case</string>
					<string>dotaccentcomb-stack.case</string>
					<string>tildecomb-stack.case</string>
					<string>hungarumlautcomb-stack.case</string>
					<string>hookcomb-stack.case</string>
					<string>breveinvertedcomb-stack.case</string>
					<string>dblgravecomb-stack.case</string>
					<string>engtail</string>
					<string>Mu</string>
					<string>Nu</string>
					<string>Em</string>
				</array>
				<key>type</key>
				<string>glyphList</string>
			</dict>
		</array>
		<key>com.typemytype.robofont.compileSettings.autohint</key>
		<true/>
		<key>com.typemytype.robofont.compileSettings.checkOutlines</key>
		<false/>
		<key>com.typemytype.robofont.compileSettings.createDummyDSIG</key>
		<true/>
		<key>com.typemytype.robofont.compileSettings.decompose</key>
		<false/>
		<key>com.typemytype.robofont.compileSettings.generateFormat</key>
		<integer>0</integer>
		<key>com.typemytype.robofont.compileSettings.releaseMode</key>
		<false/>
		<key>com.typemytype.robofont.italicSlantOffset</key>
		<integer>0</integer>
		<key>com.typemytype.robofont.segmentType</key>
		<string>qcurve</string>
		<key>com.typemytype.robofont.shouldAddPointsInSplineConversion</key>
		<integer>1</integer>
		<key>public.glyphOrder</key>
		<array>
			<string>A</string>
			<string>K</string>
			<string>M</string>
			<string>N</string>
			<string>V</string>
			<string>W</string>
			<string>Y</string>
			<string>AE</string>
			<string>Ntilde</string>
			<string>Nacute</string>
			<string>Ncommaaccent</string>
			<string>Ncaron</string>
			<string>Eng</string>
			<string>NJ</string>
			<string>Nj</string>
			<string>grave.case</string>
			<string>acute.case</string>
			<string>dieresis.case</string>
			<string>macron.case</string>
			<string>cedilla.case</string>
			<string>circumflex.case</string>
			<string>caron.case</string>
			<string>breve.case</string>
			<string>dotaccent.case</string>
			<string>ring.case</string>
			<string>ogonek.case</string>
			<string>tilde.case</string>
			<string>hungarumlaut.case</string>
			<string>hookabove.case</string>
			<string>breveinverted.case</string>
			<string>dblgrave.case</string>
			<string>horn.case</string>
			<string>dotbelow.case</string>
			<string>dieresisbelow.case</string>
			<string>commaaccent.case</string>
			<string>brevebelow.case</string>
			<string>macronbelow.case</string>
			<string>gravecomb.case</string>
			<string>acutecomb.case</string>
			<string>dieresiscomb.case</string>
			<string>macroncomb.case</string>
			<string>cedillacomb.case</string>
			<string>circumflexcomb.case</string>
			<string>caroncomb.case</string>
			<string>brevecomb.case</string>
			<string>dotaccentcomb.case</string>
			<string>ogonekcomb.case</string>
			<string>tildecomb.case</string>
			<string>hungarumlautcomb.case</string>
			<string>hookabovecomb.case</string>
			<string>breveinvertedcomb.case</string>
			<string>dblgravecomb.case</string>
			<string>horncomb.case</string>
			<string>dotbelowcomb.case</string>
			<string>dieresisbelowcomb.case</string>
			<string>commaaccentcomb.case</string>
			<string>brevebelowcomb.case</string>
			<string>macronbelowcomb.case</string>
			<string>gravecombstack.case</string>
			<string>acutecombstack.case</string>
			<string>dieresiscombstack.case</string>
			<string>macroncombstack.case</string>
			<string>circumflexcombstack.case</string>
			<string>brevecombstack.case</string>
			<string>dotaccentcombstack.case</string>
			<string>tildecombstack.case</string>
			<string>hookabovecombstack.case</string>
			<string>grave-stack.case</string>
			<string>acute-stack.case</string>
			<string>dieresis-stack.case</string>
			<string>macron-stack.case</string>
			<string>circumflex-stack.case</string>
			<string>caron-stack.case</string>
			<string>breve-stack.case</string>
			<string>dotaccent-stack.case</string>
			<string>ring-stack.case</string>
			<string>tilde-stack.case</string>
			<string>hungarumlaut-stack.case</string>
			<string>hook-stack.case</string>
			<string>breveinverted-stack.case</string>
			<string>dblgrave-stack.case</string>
			<string>gravecomb-stack.case</string>
			<string>acutecomb-stack.case</string>
			<string>dieresiscomb-stack.case</string>
			<string>macroncomb-stack.case</string>
			<string>circumflexcomb-stack.case</string>
			<string>caroncomb-stack.case</string>
			<string>brevecomb-stack.case</string>
			<string>dotaccentcomb-stack.case</string>
			<string>tildecomb-stack.case</string>
			<string>hungarumlautcomb-stack.case</string>
			<string>hookcomb-stack.case</string>
			<string>breveinvertedcomb-stack.case</string>
			<string>dblgravecomb-stack.case</string>
			<string>engtail</string>
			<string>Mu</string>
			<string>Nu</string>
			<string>Em</string>
			<string>J</string>
			<string>j</string>
			<string>idot</string>
			<string>jdotless</string>
		</array>
	</dict>
</plist>
