<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>com.typemytype.robofont.segmentType</key>
		<string>qcurve</string>
		<key>public.glyphOrder</key>
		<array>
			<string>dollar</string>
			<string>O</string>
			<string>o</string>
			<string>cent</string>
			<string>Oslash</string>
			<string>oslash</string>
			<string>diagonalbarO</string>
			<string>diagonalbaro</string>
			<string>naira</string>
			<string>won</string>
			<string>coloncurrency</string>
			<string>uni20B1</string>
			<string>uni20B2</string>
			<string>uni20B5</string>
			<string>coloncurrency.rvrn</string>
		</array>
	</dict>
</plist>
