<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>ascender</key>
		<integer>1900</integer>
		<key>capHeight</key>
		<integer>1456</integer>
		<key>copyright</key>
		<string>Copyright 2024 The Roboto Delta Project Authors (https://github.com/googlefonts/roboto-delta)</string>
		<key>descender</key>
		<integer>-500</integer>
		<key>familyName</key>
		<string>Roboto Delta</string>
		<key>guidelines</key>
		<array>
		</array>
		<key>italicAngle</key>
		<integer>0</integer>
		<key>openTypeHeadCreated</key>
		<string>2008/09/12 12:29:34</string>
		<key>openTypeHeadFlags</key>
		<array>
			<integer>0</integer>
			<integer>1</integer>
			<integer>3</integer>
			<integer>4</integer>
		</array>
		<key>openTypeHeadLowestRecPPEM</key>
		<integer>9</integer>
		<key>openTypeHheaAscender</key>
		<integer>1900</integer>
		<key>openTypeHheaCaretOffset</key>
		<integer>0</integer>
		<key>openTypeHheaCaretSlopeRise</key>
		<integer>2048</integer>
		<key>openTypeHheaCaretSlopeRun</key>
		<integer>0</integer>
		<key>openTypeHheaDescender</key>
		<integer>-500</integer>
		<key>openTypeHheaLineGap</key>
		<integer>0</integer>
		<key>openTypeNameDesigner</key>
		<string>Berlow after Robertson</string>
		<key>openTypeNameDesignerURL</key>
		<string>Google.com</string>
		<key>openTypeNameLicense</key>
		<string>This Font Software is licensed under the SIL Open Font License, Version 1.1. This license is available with a FAQ at: http://scripts.sil.org/OFL</string>
		<key>openTypeNameLicenseURL</key>
		<string>https://scripts.sil.org/OFL</string>
		<key>openTypeNameManufacturer</key>
		<string>Google</string>
		<key>openTypeNameManufacturerURL</key>
		<string>Google.com</string>
		<key>openTypeNameRecords</key>
		<array>
			<dict>
				<key>encodingID</key>
				<integer>1</integer>
				<key>languageID</key>
				<integer>1033</integer>
				<key>nameID</key>
				<integer>0</integer>
				<key>platformID</key>
				<integer>3</integer>
				<key>string</key>
				<string>Copyright 2024 The Roboto Delta Project Authors (https://github.com/googlefonts/roboto-delta)</string>
			</dict>
			<dict>
				<key>encodingID</key>
				<integer>1</integer>
				<key>languageID</key>
				<integer>1033</integer>
				<key>nameID</key>
				<integer>1</integer>
				<key>platformID</key>
				<integer>3</integer>
				<key>string</key>
				<string>Roboto Delta</string>
			</dict>
			<dict>
				<key>encodingID</key>
				<integer>1</integer>
				<key>languageID</key>
				<integer>1033</integer>
				<key>nameID</key>
				<integer>2</integer>
				<key>platformID</key>
				<integer>3</integer>
				<key>string</key>
				<string>Regular</string>
			</dict>
			<dict>
				<key>encodingID</key>
				<integer>1</integer>
				<key>languageID</key>
				<integer>1033</integer>
				<key>nameID</key>
				<integer>3</integer>
				<key>platformID</key>
				<integer>3</integer>
				<key>string</key>
				<string>Google:Roboto Regular:2017</string>
			</dict>
			<dict>
				<key>encodingID</key>
				<integer>1</integer>
				<key>languageID</key>
				<integer>1033</integer>
				<key>nameID</key>
				<integer>4</integer>
				<key>platformID</key>
				<integer>3</integer>
				<key>string</key>
				<string>Roboto Delta Regular</string>
			</dict>
			<dict>
				<key>encodingID</key>
				<integer>1</integer>
				<key>languageID</key>
				<integer>1033</integer>
				<key>nameID</key>
				<integer>5</integer>
				<key>platformID</key>
				<integer>3</integer>
				<key>string</key>
				<string>Version 3.000</string>
			</dict>
			<dict>
				<key>encodingID</key>
				<integer>1</integer>
				<key>languageID</key>
				<integer>1033</integer>
				<key>nameID</key>
				<integer>6</integer>
				<key>platformID</key>
				<integer>3</integer>
				<key>string</key>
				<string>RobotoDelta-Regular</string>
			</dict>
			<dict>
				<key>encodingID</key>
				<integer>1</integer>
				<key>languageID</key>
				<integer>1033</integer>
				<key>nameID</key>
				<integer>7</integer>
				<key>platformID</key>
				<integer>3</integer>
				<key>string</key>
				<string>Roboto is a trademark of Google.</string>
			</dict>
			<dict>
				<key>encodingID</key>
				<integer>1</integer>
				<key>languageID</key>
				<integer>1033</integer>
				<key>nameID</key>
				<integer>8</integer>
				<key>platformID</key>
				<integer>3</integer>
				<key>string</key>
				<string>Google</string>
			</dict>
			<dict>
				<key>encodingID</key>
				<integer>1</integer>
				<key>languageID</key>
				<integer>1033</integer>
				<key>nameID</key>
				<integer>9</integer>
				<key>platformID</key>
				<integer>3</integer>
				<key>string</key>
				<string>Berlow after Robertson</string>
			</dict>
			<dict>
				<key>encodingID</key>
				<integer>1</integer>
				<key>languageID</key>
				<integer>1033</integer>
				<key>nameID</key>
				<integer>11</integer>
				<key>platformID</key>
				<integer>3</integer>
				<key>string</key>
				<string>Google.com</string>
			</dict>
			<dict>
				<key>encodingID</key>
				<integer>1</integer>
				<key>languageID</key>
				<integer>1033</integer>
				<key>nameID</key>
				<integer>12</integer>
				<key>platformID</key>
				<integer>3</integer>
				<key>string</key>
				<string>Google.com</string>
			</dict>
			<dict>
				<key>encodingID</key>
				<integer>1</integer>
				<key>languageID</key>
				<integer>1033</integer>
				<key>nameID</key>
				<integer>13</integer>
				<key>platformID</key>
				<integer>3</integer>
				<key>string</key>
				<string>This Font Software is licensed under the SIL Open Font License, Version 1.1. This license is available with a FAQ at: http://scripts.sil.org/OFL</string>
			</dict>
			<dict>
				<key>encodingID</key>
				<integer>1</integer>
				<key>languageID</key>
				<integer>1033</integer>
				<key>nameID</key>
				<integer>14</integer>
				<key>platformID</key>
				<integer>3</integer>
				<key>string</key>
				<string>https://scripts.sil.org/OFL</string>
			</dict>
			<dict>
				<key>encodingID</key>
				<integer>1</integer>
				<key>languageID</key>
				<integer>1033</integer>
				<key>nameID</key>
				<integer>256</integer>
				<key>platformID</key>
				<integer>3</integer>
				<key>string</key>
				<string>Optical Size</string>
			</dict>
			<dict>
				<key>encodingID</key>
				<integer>1</integer>
				<key>languageID</key>
				<integer>1033</integer>
				<key>nameID</key>
				<integer>257</integer>
				<key>platformID</key>
				<integer>3</integer>
				<key>string</key>
				<string>Weight</string>
			</dict>
			<dict>
				<key>encodingID</key>
				<integer>1</integer>
				<key>languageID</key>
				<integer>1033</integer>
				<key>nameID</key>
				<integer>258</integer>
				<key>platformID</key>
				<integer>3</integer>
				<key>string</key>
				<string>Width</string>
			</dict>
			<dict>
				<key>encodingID</key>
				<integer>1</integer>
				<key>languageID</key>
				<integer>1033</integer>
				<key>nameID</key>
				<integer>259</integer>
				<key>platformID</key>
				<integer>3</integer>
				<key>string</key>
				<string>Slant</string>
			</dict>
			<dict>
				<key>encodingID</key>
				<integer>1</integer>
				<key>languageID</key>
				<integer>1033</integer>
				<key>nameID</key>
				<integer>260</integer>
				<key>platformID</key>
				<integer>3</integer>
				<key>string</key>
				<string>Grade</string>
			</dict>
			<dict>
				<key>encodingID</key>
				<integer>1</integer>
				<key>languageID</key>
				<integer>1033</integer>
				<key>nameID</key>
				<integer>261</integer>
				<key>platformID</key>
				<integer>3</integer>
				<key>string</key>
				<string>Parametric Spacing</string>
			</dict>
			<dict>
				<key>encodingID</key>
				<integer>1</integer>
				<key>languageID</key>
				<integer>1033</integer>
				<key>nameID</key>
				<integer>262</integer>
				<key>platformID</key>
				<integer>3</integer>
				<key>string</key>
				<string>Parametric Thick Stroke</string>
			</dict>
			<dict>
				<key>encodingID</key>
				<integer>1</integer>
				<key>languageID</key>
				<integer>1033</integer>
				<key>nameID</key>
				<integer>263</integer>
				<key>platformID</key>
				<integer>3</integer>
				<key>string</key>
				<string>Parametric Thin Stroke</string>
			</dict>
			<dict>
				<key>encodingID</key>
				<integer>1</integer>
				<key>languageID</key>
				<integer>1033</integer>
				<key>nameID</key>
				<integer>264</integer>
				<key>platformID</key>
				<integer>3</integer>
				<key>string</key>
				<string>Parametric Counter Width</string>
			</dict>
			<dict>
				<key>encodingID</key>
				<integer>1</integer>
				<key>languageID</key>
				<integer>1033</integer>
				<key>nameID</key>
				<integer>265</integer>
				<key>platformID</key>
				<integer>3</integer>
				<key>string</key>
				<string>Parametric Body Size</string>
			</dict>
			<dict>
				<key>encodingID</key>
				<integer>1</integer>
				<key>languageID</key>
				<integer>1033</integer>
				<key>nameID</key>
				<integer>266</integer>
				<key>platformID</key>
				<integer>3</integer>
				<key>string</key>
				<string>Parametric Wordsapce</string>
			</dict>
			<dict>
				<key>encodingID</key>
				<integer>1</integer>
				<key>languageID</key>
				<integer>1033</integer>
				<key>nameID</key>
				<integer>267</integer>
				<key>platformID</key>
				<integer>3</integer>
				<key>string</key>
				<string>Parametric Thick Stroke Uppercase</string>
			</dict>
			<dict>
				<key>encodingID</key>
				<integer>1</integer>
				<key>languageID</key>
				<integer>1033</integer>
				<key>nameID</key>
				<integer>268</integer>
				<key>platformID</key>
				<integer>3</integer>
				<key>string</key>
				<string>Parametric Thin Stroke Uppercase</string>
			</dict>
			<dict>
				<key>encodingID</key>
				<integer>1</integer>
				<key>languageID</key>
				<integer>1033</integer>
				<key>nameID</key>
				<integer>269</integer>
				<key>platformID</key>
				<integer>3</integer>
				<key>string</key>
				<string>Parametric Counter Width Uppercase</string>
			</dict>
			<dict>
				<key>encodingID</key>
				<integer>1</integer>
				<key>languageID</key>
				<integer>1033</integer>
				<key>nameID</key>
				<integer>270</integer>
				<key>platformID</key>
				<integer>3</integer>
				<key>string</key>
				<string>Parametric Counter Width Diagonals Uppercase</string>
			</dict>
			<dict>
				<key>encodingID</key>
				<integer>1</integer>
				<key>languageID</key>
				<integer>1033</integer>
				<key>nameID</key>
				<integer>271</integer>
				<key>platformID</key>
				<integer>3</integer>
				<key>string</key>
				<string>Parametric Counter Width Round Letters Uppercase</string>
			</dict>
			<dict>
				<key>encodingID</key>
				<integer>1</integer>
				<key>languageID</key>
				<integer>1033</integer>
				<key>nameID</key>
				<integer>272</integer>
				<key>platformID</key>
				<integer>3</integer>
				<key>string</key>
				<string>Parametric Thin Stroke E</string>
			</dict>
			<dict>
				<key>encodingID</key>
				<integer>1</integer>
				<key>languageID</key>
				<integer>1033</integer>
				<key>nameID</key>
				<integer>273</integer>
				<key>platformID</key>
				<integer>3</integer>
				<key>string</key>
				<string>Parametric Uppercase Height</string>
			</dict>
			<dict>
				<key>encodingID</key>
				<integer>1</integer>
				<key>languageID</key>
				<integer>1033</integer>
				<key>nameID</key>
				<integer>274</integer>
				<key>platformID</key>
				<integer>3</integer>
				<key>string</key>
				<string>Parametric Uppercase Internal Straight Counter</string>
			</dict>
			<dict>
				<key>encodingID</key>
				<integer>1</integer>
				<key>languageID</key>
				<integer>1033</integer>
				<key>nameID</key>
				<integer>275</integer>
				<key>platformID</key>
				<integer>3</integer>
				<key>string</key>
				<string>Parametric Uppercase Outer Straight Counter</string>
			</dict>
			<dict>
				<key>encodingID</key>
				<integer>1</integer>
				<key>languageID</key>
				<integer>1033</integer>
				<key>nameID</key>
				<integer>276</integer>
				<key>platformID</key>
				<integer>3</integer>
				<key>string</key>
				<string>Parametric Thick Stroke Lowercase</string>
			</dict>
			<dict>
				<key>encodingID</key>
				<integer>1</integer>
				<key>languageID</key>
				<integer>1033</integer>
				<key>nameID</key>
				<integer>277</integer>
				<key>platformID</key>
				<integer>3</integer>
				<key>string</key>
				<string>Parametric Thin Stroke Lowercase</string>
			</dict>
			<dict>
				<key>encodingID</key>
				<integer>1</integer>
				<key>languageID</key>
				<integer>1033</integer>
				<key>nameID</key>
				<integer>278</integer>
				<key>platformID</key>
				<integer>3</integer>
				<key>string</key>
				<string>Parametric Counter Width Lowercase</string>
			</dict>
			<dict>
				<key>encodingID</key>
				<integer>1</integer>
				<key>languageID</key>
				<integer>1033</integer>
				<key>nameID</key>
				<integer>279</integer>
				<key>platformID</key>
				<integer>3</integer>
				<key>string</key>
				<string>Parametric Ascender Height</string>
			</dict>
			<dict>
				<key>encodingID</key>
				<integer>1</integer>
				<key>languageID</key>
				<integer>1033</integer>
				<key>nameID</key>
				<integer>280</integer>
				<key>platformID</key>
				<integer>3</integer>
				<key>string</key>
				<string>Parametric Descender Depth</string>
			</dict>
			<dict>
				<key>encodingID</key>
				<integer>1</integer>
				<key>languageID</key>
				<integer>1033</integer>
				<key>nameID</key>
				<integer>281</integer>
				<key>platformID</key>
				<integer>3</integer>
				<key>string</key>
				<string>Parametric Lowercase Height</string>
			</dict>
			<dict>
				<key>encodingID</key>
				<integer>1</integer>
				<key>languageID</key>
				<integer>1033</integer>
				<key>nameID</key>
				<integer>282</integer>
				<key>platformID</key>
				<integer>3</integer>
				<key>string</key>
				<string>Parametric Lowercase Internal Straight Counter</string>
			</dict>
			<dict>
				<key>encodingID</key>
				<integer>1</integer>
				<key>languageID</key>
				<integer>1033</integer>
				<key>nameID</key>
				<integer>283</integer>
				<key>platformID</key>
				<integer>3</integer>
				<key>string</key>
				<string>Parametric Thin Stroke Lowercase Compensation</string>
			</dict>
			<dict>
				<key>encodingID</key>
				<integer>1</integer>
				<key>languageID</key>
				<integer>1033</integer>
				<key>nameID</key>
				<integer>284</integer>
				<key>platformID</key>
				<integer>3</integer>
				<key>string</key>
				<string>Parametric Thick Stroke Figures</string>
			</dict>
			<dict>
				<key>encodingID</key>
				<integer>1</integer>
				<key>languageID</key>
				<integer>1033</integer>
				<key>nameID</key>
				<integer>285</integer>
				<key>platformID</key>
				<integer>3</integer>
				<key>string</key>
				<string>Parametric Thin Stroke Figures</string>
			</dict>
			<dict>
				<key>encodingID</key>
				<integer>1</integer>
				<key>languageID</key>
				<integer>1033</integer>
				<key>nameID</key>
				<integer>286</integer>
				<key>platformID</key>
				<integer>3</integer>
				<key>string</key>
				<string>Parametric Counter Width Figures</string>
			</dict>
			<dict>
				<key>encodingID</key>
				<integer>1</integer>
				<key>languageID</key>
				<integer>1033</integer>
				<key>nameID</key>
				<integer>287</integer>
				<key>platformID</key>
				<integer>3</integer>
				<key>string</key>
				<string>Parametric Figure Height</string>
			</dict>
			<dict>
				<key>encodingID</key>
				<integer>1</integer>
				<key>languageID</key>
				<integer>1033</integer>
				<key>nameID</key>
				<integer>288</integer>
				<key>platformID</key>
				<integer>3</integer>
				<key>string</key>
				<string>Parametric Bars</string>
			</dict>
			<dict>
				<key>encodingID</key>
				<integer>1</integer>
				<key>languageID</key>
				<integer>1033</integer>
				<key>nameID</key>
				<integer>289</integer>
				<key>platformID</key>
				<integer>3</integer>
				<key>string</key>
				<string>Parametric Angle</string>
			</dict>
			<dict>
				<key>encodingID</key>
				<integer>1</integer>
				<key>languageID</key>
				<integer>1033</integer>
				<key>nameID</key>
				<integer>290</integer>
				<key>platformID</key>
				<integer>3</integer>
				<key>string</key>
				<string>Parametric Rotation</string>
			</dict>
			<dict>
				<key>encodingID</key>
				<integer>1</integer>
				<key>languageID</key>
				<integer>1033</integer>
				<key>nameID</key>
				<integer>291</integer>
				<key>platformID</key>
				<integer>3</integer>
				<key>string</key>
				<string>Parametric Ink Trap Lenght</string>
			</dict>
			<dict>
				<key>encodingID</key>
				<integer>1</integer>
				<key>languageID</key>
				<integer>1033</integer>
				<key>nameID</key>
				<integer>292</integer>
				<key>platformID</key>
				<integer>3</integer>
				<key>string</key>
				<string>Parametric Ink Trap Width</string>
			</dict>
			<dict>
				<key>encodingID</key>
				<integer>1</integer>
				<key>languageID</key>
				<integer>1033</integer>
				<key>nameID</key>
				<integer>293</integer>
				<key>platformID</key>
				<integer>3</integer>
				<key>string</key>
				<string>Parametric Overshoot</string>
			</dict>
		</array>
		<key>openTypeNameUniqueID</key>
		<string>Google:Roboto Regular:2017</string>
		<key>openTypeNameVersion</key>
		<string>Version 3.000</string>
		<key>openTypeOS2CodePageRanges</key>
		<array>
			<integer>0</integer>
			<integer>1</integer>
			<integer>2</integer>
			<integer>3</integer>
			<integer>4</integer>
			<integer>7</integer>
			<integer>8</integer>
			<integer>29</integer>
		</array>
		<key>openTypeOS2Panose</key>
		<array>
			<integer>2</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<key>openTypeOS2Selection</key>
		<array>
		</array>
		<key>openTypeOS2StrikeoutPosition</key>
		<integer>512</integer>
		<key>openTypeOS2StrikeoutSize</key>
		<integer>102</integer>
		<key>openTypeOS2SubscriptXOffset</key>
		<integer>0</integer>
		<key>openTypeOS2SubscriptXSize</key>
		<integer>1434</integer>
		<key>openTypeOS2SubscriptYOffset</key>
		<integer>287</integer>
		<key>openTypeOS2SubscriptYSize</key>
		<integer>1331</integer>
		<key>openTypeOS2SuperscriptXOffset</key>
		<integer>0</integer>
		<key>openTypeOS2SuperscriptXSize</key>
		<integer>1434</integer>
		<key>openTypeOS2SuperscriptYOffset</key>
		<integer>977</integer>
		<key>openTypeOS2SuperscriptYSize</key>
		<integer>1331</integer>
		<key>openTypeOS2Type</key>
		<array>
		</array>
		<key>openTypeOS2TypoAscender</key>
		<integer>1900</integer>
		<key>openTypeOS2TypoDescender</key>
		<integer>-500</integer>
		<key>openTypeOS2TypoLineGap</key>
		<integer>0</integer>
		<key>openTypeOS2UnicodeRanges</key>
		<array>
			<integer>0</integer>
			<integer>1</integer>
			<integer>2</integer>
			<integer>3</integer>
			<integer>4</integer>
			<integer>5</integer>
			<integer>6</integer>
			<integer>7</integer>
			<integer>9</integer>
			<integer>11</integer>
			<integer>29</integer>
			<integer>30</integer>
			<integer>31</integer>
			<integer>32</integer>
			<integer>33</integer>
			<integer>34</integer>
			<integer>35</integer>
			<integer>36</integer>
			<integer>37</integer>
			<integer>38</integer>
			<integer>40</integer>
			<integer>45</integer>
			<integer>60</integer>
			<integer>62</integer>
			<integer>64</integer>
			<integer>69</integer>
		</array>
		<key>openTypeOS2VendorID</key>
		<string>GOOG</string>
		<key>openTypeOS2WeightClass</key>
		<integer>100</integer>
		<key>openTypeOS2WidthClass</key>
		<integer>1</integer>
		<key>openTypeOS2WinAscent</key>
		<integer>2461</integer>
		<key>openTypeOS2WinDescent</key>
		<integer>600</integer>
		<key>postscriptBlueValues</key>
		<array>
		</array>
		<key>postscriptFamilyBlues</key>
		<array>
		</array>
		<key>postscriptFamilyOtherBlues</key>
		<array>
		</array>
		<key>postscriptIsFixedPitch</key>
		<false/>
		<key>postscriptOtherBlues</key>
		<array>
		</array>
		<key>postscriptStemSnapH</key>
		<array>
		</array>
		<key>postscriptStemSnapV</key>
		<array>
		</array>
		<key>postscriptUnderlinePosition</key>
		<integer>-183</integer>
		<key>postscriptUnderlineThickness</key>
		<integer>166</integer>
		<key>styleMapStyleName</key>
		<string>regular</string>
		<key>styleName</key>
		<string>opsz14-wdth100-wght1000</string>
		<key>trademark</key>
		<string>Roboto is a trademark of Google.</string>
		<key>unitsPerEm</key>
		<integer>2048</integer>
		<key>versionMajor</key>
		<integer>3</integer>
		<key>versionMinor</key>
		<integer>0</integer>
		<key>xHeight</key>
		<integer>916</integer>
	</dict>
</plist>
