<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>.notdef</key>
	<string>_notdef.glif</string>
	<key>.null</key>
	<string>_null.glif</string>
	<key>A</key>
	<string>A_.glif</string>
	<key>B</key>
	<string>B_.glif</string>
	<key>Btopbar</key>
	<string>Btopbar_.glif</string>
	<key>C</key>
	<string>C_.glif</string>
	<key>CR</key>
	<string>CR_.glif</string>
	<key>D</key>
	<string>D_.glif</string>
	<key>Dbar1</key>
	<string>Dbar1_.glif</string>
	<key>E</key>
	<string>E_.glif</string>
	<key>Esh</key>
	<string>Esh_.glif</string>
	<key>F</key>
	<string>F_.glif</string>
	<key>G</key>
	<string>G_.glif</string>
	<key>H</key>
	<string>H_.glif</string>
	<key>I</key>
	<string>I_.glif</string>
	<key>Ibar</key>
	<string>Ibar_.glif</string>
	<key>J</key>
	<string>J_.glif</string>
	<key>K</key>
	<string>K_.glif</string>
	<key>L</key>
	<string>L_.glif</string>
	<key>M</key>
	<string>M_.glif</string>
	<key>N</key>
	<string>N_.glif</string>
	<key>O</key>
	<string>O_.glif</string>
	<key>P</key>
	<string>P_.glif</string>
	<key>Q</key>
	<string>Q_.glif</string>
	<key>R</key>
	<string>R_.glif</string>
	<key>S</key>
	<string>S_.glif</string>
	<key>T</key>
	<string>T_.glif</string>
	<key>U</key>
	<string>U_.glif</string>
	<key>V</key>
	<string>V_.glif</string>
	<key>W</key>
	<string>W_.glif</string>
	<key>X</key>
	<string>X_.glif</string>
	<key>Y</key>
	<string>Y_.glif</string>
	<key>Z</key>
	<string>Z_.glif</string>
	<key>a</key>
	<string>a.glif</string>
	<key>ampersand</key>
	<string>ampersand.glif</string>
	<key>asciicircum</key>
	<string>asciicircum.glif</string>
	<key>asciitilde</key>
	<string>asciitilde.glif</string>
	<key>asterisk</key>
	<string>asterisk.glif</string>
	<key>at</key>
	<string>at.glif</string>
	<key>b</key>
	<string>b.glif</string>
	<key>backslash</key>
	<string>backslash.glif</string>
	<key>bar</key>
	<string>bar.glif</string>
	<key>barmidshortnosp</key>
	<string>barmidshortnosp.glif</string>
	<key>bbar</key>
	<string>bbar.glif</string>
	<key>braceleft</key>
	<string>braceleft.glif</string>
	<key>braceright</key>
	<string>braceright.glif</string>
	<key>bracketleft</key>
	<string>bracketleft.glif</string>
	<key>bracketright</key>
	<string>bracketright.glif</string>
	<key>c</key>
	<string>c.glif</string>
	<key>colon</key>
	<string>colon.glif</string>
	<key>comma</key>
	<string>comma.glif</string>
	<key>d</key>
	<string>d.glif</string>
	<key>diaeresistonosnosp</key>
	<string>diaeresistonosnosp.glif</string>
	<key>dollar</key>
	<string>dollar.glif</string>
	<key>e</key>
	<string>e.glif</string>
	<key>eight</key>
	<string>eight.glif</string>
	<key>eightsub</key>
	<string>eightsub.glif</string>
	<key>eightsuperior</key>
	<string>eightsuperior.glif</string>
	<key>emdash</key>
	<string>emdash.glif</string>
	<key>endash</key>
	<string>endash.glif</string>
	<key>epsilon1</key>
	<string>epsilon1.glif</string>
	<key>equal</key>
	<string>equal.glif</string>
	<key>exclam</key>
	<string>exclam.glif</string>
	<key>f</key>
	<string>f.glif</string>
	<key>figuredash</key>
	<string>figuredash.glif</string>
	<key>five</key>
	<string>five.glif</string>
	<key>fiveeighths</key>
	<string>fiveeighths.glif</string>
	<key>fivesub</key>
	<string>fivesub.glif</string>
	<key>fivesuperior</key>
	<string>fivesuperior.glif</string>
	<key>four</key>
	<string>four.glif</string>
	<key>foursub</key>
	<string>foursub.glif</string>
	<key>g</key>
	<string>g.glif</string>
	<key>glottalstopbarrev</key>
	<string>glottalstopbarrev.glif</string>
	<key>grave</key>
	<string>grave.glif</string>
	<key>greater</key>
	<string>greater.glif</string>
	<key>guillemotleft</key>
	<string>guillemotleft.glif</string>
	<key>guillemotright</key>
	<string>guillemotright.glif</string>
	<key>h</key>
	<string>h.glif</string>
	<key>hyphen</key>
	<string>hyphen.glif</string>
	<key>i</key>
	<string>i.glif</string>
	<key>ibar</key>
	<string>ibar.glif</string>
	<key>j</key>
	<string>j.glif</string>
	<key>jhookdblbar</key>
	<string>jhookdblbar.glif</string>
	<key>k</key>
	<string>k.glif</string>
	<key>l</key>
	<string>l.glif</string>
	<key>lbar</key>
	<string>lbar.glif</string>
	<key>less</key>
	<string>less.glif</string>
	<key>lmidtilde</key>
	<string>lmidtilde.glif</string>
	<key>m</key>
	<string>m.glif</string>
	<key>n</key>
	<string>n.glif</string>
	<key>nine</key>
	<string>nine.glif</string>
	<key>nineinferior</key>
	<string>nineinferior.glif</string>
	<key>ninesuperior</key>
	<string>ninesuperior.glif</string>
	<key>numbersign</key>
	<string>numbersign.glif</string>
	<key>o</key>
	<string>o.glif</string>
	<key>one</key>
	<string>one.glif</string>
	<key>oneeighth</key>
	<string>oneeighth.glif</string>
	<key>onehalf</key>
	<string>onehalf.glif</string>
	<key>oneinferior</key>
	<string>oneinferior.glif</string>
	<key>onequarter</key>
	<string>onequarter.glif</string>
	<key>onethird</key>
	<string>onethird.glif</string>
	<key>p</key>
	<string>p.glif</string>
	<key>parenleft</key>
	<string>parenleft.glif</string>
	<key>parenright</key>
	<string>parenright.glif</string>
	<key>percent</key>
	<string>percent.glif</string>
	<key>period</key>
	<string>period.glif</string>
	<key>phi1</key>
	<string>phi1.glif</string>
	<key>pipedblbar</key>
	<string>pipedblbar.glif</string>
	<key>plus</key>
	<string>plus.glif</string>
	<key>q</key>
	<string>q.glif</string>
	<key>question</key>
	<string>question.glif</string>
	<key>quotedbl</key>
	<string>quotedbl.glif</string>
	<key>quotesingle</key>
	<string>quotesingle.glif</string>
	<key>r</key>
	<string>r.glif</string>
	<key>s</key>
	<string>s.glif</string>
	<key>semicolon</key>
	<string>semicolon.glif</string>
	<key>seven</key>
	<string>seven.glif</string>
	<key>seveneighths</key>
	<string>seveneighths.glif</string>
	<key>sevensub</key>
	<string>sevensub.glif</string>
	<key>sevensuperior</key>
	<string>sevensuperior.glif</string>
	<key>six</key>
	<string>six.glif</string>
	<key>sixinferior</key>
	<string>sixinferior.glif</string>
	<key>sixsuperior</key>
	<string>sixsuperior.glif</string>
	<key>slash</key>
	<string>slash.glif</string>
	<key>space</key>
	<string>space.glif</string>
	<key>t</key>
	<string>t.glif</string>
	<key>three</key>
	<string>three.glif</string>
	<key>threeeighths</key>
	<string>threeeighths.glif</string>
	<key>threequarters</key>
	<string>threequarters.glif</string>
	<key>threesub</key>
	<string>threesub.glif</string>
	<key>two</key>
	<string>two.glif</string>
	<key>twosub</key>
	<string>twosub.glif</string>
	<key>twothirds</key>
	<string>twothirds.glif</string>
	<key>u</key>
	<string>u.glif</string>
	<key>underscore</key>
	<string>underscore.glif</string>
	<key>uni0002</key>
	<string>uni0002.glif</string>
	<key>uni0009</key>
	<string>uni0009.glif</string>
	<key>uni01C4</key>
	<string>uni01C4_.glif</string>
	<key>uni01EE</key>
	<string>uni01EE_.glif</string>
	<key>uni023D</key>
	<string>uni023D_.glif</string>
	<key>uni0243</key>
	<string>uni0243.glif</string>
	<key>uni0248</key>
	<string>uni0248.glif</string>
	<key>uni0249</key>
	<string>uni0249.glif</string>
	<key>uni024D</key>
	<string>uni024D_.glif</string>
	<key>uni0343</key>
	<string>uni0343.glif</string>
	<key>uni035C</key>
	<string>uni035C_.glif</string>
	<key>uni0376</key>
	<string>uni0376.glif</string>
	<key>uni03FC</key>
	<string>uni03FC_.glif</string>
	<key>uni042B.smcp</key>
	<string>uni042B_.smcp.glif</string>
	<key>uni0496</key>
	<string>uni0496.glif</string>
	<key>uni0497</key>
	<string>uni0497.glif</string>
	<key>uni049A</key>
	<string>uni049A_.glif</string>
	<key>uni049B</key>
	<string>uni049B_.glif</string>
	<key>uni04A2</key>
	<string>uni04A2_.glif</string>
	<key>uni04A3</key>
	<string>uni04A3_.glif</string>
	<key>uni04B0.smcp</key>
	<string>uni04B0_.smcp.glif</string>
	<key>uni04B2</key>
	<string>uni04B2_.glif</string>
	<key>uni04B3</key>
	<string>uni04B3_.glif</string>
	<key>uni04B6</key>
	<string>uni04B6_.glif</string>
	<key>uni04B7</key>
	<string>uni04B7_.glif</string>
	<key>uni04FA</key>
	<string>uni04FA_.glif</string>
	<key>uni04FB</key>
	<string>uni04FB_.glif</string>
	<key>uni04FC</key>
	<string>uni04FC_.glif</string>
	<key>uni04FD</key>
	<string>uni04FD_.glif</string>
	<key>uni0512</key>
	<string>uni0512.glif</string>
	<key>uni0513</key>
	<string>uni0513.glif</string>
	<key>uni1D06</key>
	<string>uni1D06_.glif</string>
	<key>uni1D7B</key>
	<string>uni1D7B_.glif</string>
	<key>uni1D7C</key>
	<string>uni1D7C_.glif</string>
	<key>uni1E2E</key>
	<string>uni1E2E_.glif</string>
	<key>uni1E2F</key>
	<string>uni1E2F_.glif</string>
	<key>uni2074</key>
	<string>uni2074.glif</string>
	<key>uni2150</key>
	<string>uni2150.glif</string>
	<key>uni2151</key>
	<string>uni2151.glif</string>
	<key>uni2152</key>
	<string>uni2152.glif</string>
	<key>uni2155</key>
	<string>uni2155.glif</string>
	<key>uni2156</key>
	<string>uni2156.glif</string>
	<key>uni2157</key>
	<string>uni2157.glif</string>
	<key>uni2158</key>
	<string>uni2158.glif</string>
	<key>uni2159</key>
	<string>uni2159.glif</string>
	<key>uni215A</key>
	<string>uni215A_.glif</string>
	<key>uni215F</key>
	<string>uni215F_.glif</string>
	<key>uni2189</key>
	<string>uni2189.glif</string>
	<key>uni2C60</key>
	<string>uni2C60_.glif</string>
	<key>uni2C61</key>
	<string>uni2C61_.glif</string>
	<key>uni2C63</key>
	<string>uni2C63_.glif</string>
	<key>uni2C67</key>
	<string>uni2C67_.glif</string>
	<key>uni2C68</key>
	<string>uni2C68_.glif</string>
	<key>uni2E20</key>
	<string>uni2E20_.glif</string>
	<key>uni2E21</key>
	<string>uni2E21_.glif</string>
	<key>uniA642</key>
	<string>uniA642_.glif</string>
	<key>uniA643</key>
	<string>uniA643_.glif</string>
	<key>uniA740</key>
	<string>uniA740_.glif</string>
	<key>uniA741</key>
	<string>uniA741_.glif</string>
	<key>uniA748</key>
	<string>uniA748_.glif</string>
	<key>uniA749</key>
	<string>uniA749_.glif</string>
	<key>uniA750</key>
	<string>uniA750_.glif</string>
	<key>uniA751</key>
	<string>uniA751_.glif</string>
	<key>uniA757</key>
	<string>uniA757_.glif</string>
	<key>uniA790</key>
	<string>uniA790_.glif</string>
	<key>uniA791</key>
	<string>uniA791_.glif</string>
	<key>uniFE22</key>
	<string>uniFE22_.glif</string>
	<key>uniFE23</key>
	<string>uniFE23_.glif</string>
	<key>v</key>
	<string>v.glif</string>
	<key>w</key>
	<string>w.glif</string>
	<key>x</key>
	<string>x.glif</string>
	<key>y</key>
	<string>y.glif</string>
	<key>z</key>
	<string>z.glif</string>
	<key>zero</key>
	<string>zero.glif</string>
	<key>zero.tnum</key>
	<string>zero.tnum.glif</string>
	<key>zerosub</key>
	<string>zerosub.glif</string>
	<key>zerosuperior</key>
	<string>zerosuperior.glif</string>
</dict>
</plist>
