<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>com.typemytype.robofont.segmentType</key>
		<string>qcurve</string>
		<key>org.unifiedfontobject.normalizer.modTimes</key>
		<string>version: 0.6.3
1762738738.7 fontinfo.plist
1762738738.7 groups.plist
1760718464.7 kerning.plist
1762739863.4 layercontents.plist
1762738738.7 metainfo.plist</string>
		<key>public.glyphOrder</key>
		<array>
			<string>C</string>
			<string>G</string>
			<string>I</string>
			<string>O</string>
			<string>Q</string>
			<string>S</string>
			<string>Ccedilla</string>
			<string>Ograve</string>
			<string>Oacute</string>
			<string>Ocircumflex</string>
			<string>Otilde</string>
			<string>Odieresis</string>
			<string>Oslash</string>
			<string>Cacute</string>
			<string>Ccircumflex</string>
			<string>Cdotaccent</string>
			<string>Ccaron</string>
			<string>Gcircumflex</string>
			<string>Gbreve</string>
			<string>Gdotaccent</string>
			<string>Gcommaaccent</string>
			<string>Omacron</string>
			<string>Obreve</string>
			<string>Ohungarumlaut</string>
			<string>OE</string>
			<string>Sacute</string>
			<string>Scircumflex</string>
			<string>Scedilla</string>
			<string>Scaron</string>
			<string>Ohorn</string>
			<string>Gcaron</string>
			<string>Oogonek</string>
			<string>Oslashacute</string>
			<string>Odblgrave</string>
			<string>Oinvertedbreve</string>
			<string>Scommaaccent</string>
			<string>Odieresismacron</string>
			<string>Otildemacron</string>
			<string>Odotaccentmacron</string>
			<string>Odotbelow</string>
			<string>Ohookabove</string>
			<string>Ocircumflexacute</string>
			<string>Ocircumflexgrave</string>
			<string>Ocircumflexhookabove</string>
			<string>Ocircumflextilde</string>
			<string>Ocircumflexdotbelow</string>
			<string>Ohornacute</string>
			<string>Ohorngrave</string>
			<string>Ohornhookabove</string>
			<string>Ohorntilde</string>
			<string>Ohorndotbelow</string>
			<string>diagonalbarO</string>
			<string>Omicron</string>
			<string>Omicrontonos</string>
			<string>tonoscomb.case</string>
			<string>Dze</string>
			<string>Ocyr</string>
			<string>Odieresiscyr</string>
			<string>Es</string>
			<string>Yu</string>
			<string>Yumacron</string>
			<string>Esdescendercyr</string>
			<string>Obarcyr</string>
			<string>Obarcyr-stroke</string>
			<string>Yu-dash.case</string>
			<string>gravecomb.case</string>
			<string>acutecomb.case</string>
			<string>dieresiscomb.case</string>
			<string>macroncomb.case</string>
			<string>cedillacomb.case</string>
			<string>circumflexcomb.case</string>
			<string>caroncomb.case</string>
			<string>brevecomb.case</string>
			<string>dotaccentcomb.case</string>
			<string>ringcomb.case</string>
			<string>ogonekcomb.case</string>
			<string>tildecomb.case</string>
			<string>hungarumlautcomb.case</string>
			<string>hookabovecomb.case</string>
			<string>breveinvertedcomb.case</string>
			<string>dblgravecomb.case</string>
			<string>horncomb.case</string>
			<string>dotbelowcomb.case</string>
			<string>dieresisbelowcomb.case</string>
			<string>commaaccentcomb.case</string>
			<string>brevebelowcomb.case</string>
			<string>macronbelowcomb.case</string>
			<string>gravecombstack.case</string>
			<string>acutecombstack.case</string>
			<string>dieresiscombstack.case</string>
			<string>macroncombstack.case</string>
			<string>circumflexcombstack.case</string>
			<string>brevecombstack.case</string>
			<string>dotaccentcombstack.case</string>
			<string>tildecombstack.case</string>
			<string>hookabovecombstack.case</string>
			<string>grave-stack.case</string>
			<string>acute-stack.case</string>
			<string>dieresis-stack.case</string>
			<string>macron-stack.case</string>
			<string>circumflex-stack.case</string>
			<string>caron-stack.case</string>
			<string>breve-stack.case</string>
			<string>dotaccent-stack.case</string>
			<string>ring-stack.case</string>
			<string>tilde-stack.case</string>
			<string>hungarumlaut-stack.case</string>
			<string>hook-stack.case</string>
			<string>breveinverted-stack.case</string>
			<string>dblgrave-stack.case</string>
			<string>gravecomb-stack.case</string>
			<string>acutecomb-stack.case</string>
			<string>dieresiscomb-stack.case</string>
			<string>macroncomb-stack.case</string>
			<string>circumflexcomb-stack.case</string>
			<string>caroncomb-stack.case</string>
			<string>brevecomb-stack.case</string>
			<string>dotaccentcomb-stack.case</string>
			<string>ringcomb-stack.case</string>
			<string>tildecomb-stack.case</string>
			<string>hungarumlautcomb-stack.case</string>
			<string>hookcomb-stack.case</string>
			<string>breveinvertedcomb-stack.case</string>
			<string>dblgravecomb-stack.case</string>
			<string>grave.case</string>
			<string>acute.case</string>
			<string>dieresis.case</string>
			<string>macron.case</string>
			<string>cedilla.case</string>
			<string>circumflex.case</string>
			<string>caron.case</string>
			<string>breve.case</string>
			<string>dotaccent.case</string>
			<string>ring.case</string>
			<string>ogonek.case</string>
			<string>tilde.case</string>
			<string>hungarumlaut.case</string>
			<string>hookabove.case</string>
			<string>breveinverted.case</string>
			<string>dblgrave.case</string>
			<string>horn.case</string>
			<string>dotbelow.case</string>
			<string>dieresisbelow.case</string>
			<string>commaaccent.case</string>
			<string>brevebelow.case</string>
			<string>macronbelow.case</string>
		</array>
	</dict>
</plist>
