<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>com.typemytype.robofont.compileSettings.autohint</key>
		<true/>
		<key>com.typemytype.robofont.compileSettings.checkOutlines</key>
		<false/>
		<key>com.typemytype.robofont.compileSettings.createDummyDSIG</key>
		<true/>
		<key>com.typemytype.robofont.compileSettings.decompose</key>
		<false/>
		<key>com.typemytype.robofont.compileSettings.generateFormat</key>
		<integer>0</integer>
		<key>com.typemytype.robofont.compileSettings.releaseMode</key>
		<false/>
		<key>com.typemytype.robofont.italicSlantOffset</key>
		<integer>0</integer>
		<key>com.typemytype.robofont.segmentType</key>
		<string>qcurve</string>
		<key>com.typemytype.robofont.shouldAddPointsInSplineConversion</key>
		<integer>1</integer>
		<key>com.typesupply.metricsMachine4.groupColors</key>
		<dict>
			<key>public.kern1.A_UC</key>
			<array>
				<integer>1</integer>
				<integer>1</integer>
				<real>0.77</real>
				<integer>1</integer>
			</array>
			<key>public.kern1.B_UC</key>
			<array>
				<integer>1</integer>
				<integer>0</integer>
				<integer>0</integer>
				<real>0.25</real>
			</array>
			<key>public.kern1.C_UC</key>
			<array>
				<real>0.71</real>
				<real>0.74</real>
				<real>0.99</real>
				<integer>1</integer>
			</array>
			<key>public.kern1.D_UC</key>
			<array>
				<real>0.79</real>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
			</array>
			<key>public.kern1.E_UC</key>
			<array>
				<integer>1</integer>
				<real>0.77</real>
				<integer>1</integer>
				<integer>1</integer>
			</array>
			<key>public.kern1.G_UC</key>
			<array>
				<integer>1</integer>
				<real>0.77</real>
				<integer>1</integer>
				<integer>1</integer>
			</array>
			<key>public.kern1.Gamma_UC</key>
			<array>
				<integer>1</integer>
				<integer>0</integer>
				<integer>1</integer>
				<real>0.25</real>
			</array>
			<key>public.kern1.JU_UC</key>
			<array>
				<real>0.79</real>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
			</array>
			<key>public.kern1.K_UC</key>
			<array>
				<integer>1</integer>
				<integer>1</integer>
				<real>0.77</real>
				<integer>1</integer>
			</array>
			<key>public.kern1.L_UC</key>
			<array>
				<real>0.75</real>
				<real>0.88</real>
				<integer>1</integer>
				<integer>1</integer>
			</array>
			<key>public.kern1.Lamda_UC</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>1</integer>
				<real>0.25</real>
			</array>
			<key>public.kern1.LeftDescenderCyr_UC</key>
			<array>
				<integer>1</integer>
				<real>0.5</real>
				<integer>0</integer>
				<real>0.25</real>
			</array>
			<key>public.kern1.LeftStraight_UC</key>
			<array>
				<integer>1</integer>
				<real>0.76</real>
				<real>0.73</real>
				<integer>1</integer>
			</array>
			<key>public.kern1.Ohorn_LC</key>
			<array>
				<integer>1</integer>
				<real>0.76</real>
				<real>0.73</real>
				<integer>1</integer>
			</array>
			<key>public.kern1.Omega_UC</key>
			<array>
				<integer>1</integer>
				<real>0.5</real>
				<integer>0</integer>
				<real>0.25</real>
			</array>
			<key>public.kern1.P_UC</key>
			<array>
				<integer>1</integer>
				<integer>1</integer>
				<integer>0</integer>
				<real>0.25</real>
			</array>
			<key>public.kern1.Phi_UC</key>
			<array>
				<integer>1</integer>
				<integer>0</integer>
				<integer>0</integer>
				<real>0.25</real>
			</array>
			<key>public.kern1.R_UC</key>
			<array>
				<integer>1</integer>
				<integer>1</integer>
				<real>0.77</real>
				<integer>1</integer>
			</array>
			<key>public.kern1.S_UC</key>
			<array>
				<real>0.75</real>
				<real>0.88</real>
				<integer>1</integer>
				<integer>1</integer>
			</array>
			<key>public.kern1.Soft_UC</key>
			<array>
				<integer>0</integer>
				<integer>0</integer>
				<integer>1</integer>
				<real>0.25</real>
			</array>
			<key>public.kern1.T_UC</key>
			<array>
				<integer>1</integer>
				<real>0.77</real>
				<integer>1</integer>
				<integer>1</integer>
			</array>
			<key>public.kern1.Ucyr_UC</key>
			<array>
				<integer>0</integer>
				<real>0.5</real>
				<integer>1</integer>
				<real>0.25</real>
			</array>
			<key>public.kern1.Uhorn_UC</key>
			<array>
				<integer>1</integer>
				<real>0.76</real>
				<real>0.74</real>
				<integer>1</integer>
			</array>
			<key>public.kern1.W_UC</key>
			<array>
				<real>0.79</real>
				<integer>1</integer>
				<real>0.76</real>
				<integer>1</integer>
			</array>
			<key>public.kern1.X_UC</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>0</integer>
				<real>0.25</real>
			</array>
			<key>public.kern1.Y_UC</key>
			<array>
				<real>0.79</real>
				<integer>1</integer>
				<real>0.77</real>
				<integer>1</integer>
			</array>
			<key>public.kern1.Z_UC</key>
			<array>
				<real>0.79</real>
				<integer>1</integer>
				<real>0.76</real>
				<integer>1</integer>
			</array>
			<key>public.kern1.Ze_UC</key>
			<array>
				<integer>1</integer>
				<integer>0</integer>
				<real>0.5</real>
				<real>0.25</real>
			</array>
			<key>public.kern1.Zhe_UC</key>
			<array>
				<real>0.5</real>
				<integer>0</integer>
				<integer>1</integer>
				<real>0.25</real>
			</array>
			<key>public.kern1.a_LC</key>
			<array>
				<integer>1</integer>
				<integer>1</integer>
				<real>0.77</real>
				<integer>1</integer>
			</array>
			<key>public.kern1.alpha_LC</key>
			<array>
				<integer>1</integer>
				<integer>0</integer>
				<real>0.5</real>
				<real>0.25</real>
			</array>
			<key>public.kern1.b_LC</key>
			<array>
				<integer>1</integer>
				<real>0.76</real>
				<real>0.73</real>
				<integer>1</integer>
			</array>
			<key>public.kern1.c_LC</key>
			<array>
				<real>0.71</real>
				<real>0.74</real>
				<real>0.99</real>
				<integer>1</integer>
			</array>
			<key>public.kern1.carons</key>
			<array>
				<real>0.87</real>
				<real>0.75</real>
				<integer>1</integer>
				<integer>1</integer>
			</array>
			<key>public.kern1.e_LC</key>
			<array>
				<integer>1</integer>
				<real>0.77</real>
				<integer>1</integer>
				<integer>1</integer>
			</array>
			<key>public.kern1.epsilon_LC</key>
			<array>
				<integer>1</integer>
				<integer>0</integer>
				<integer>0</integer>
				<real>0.25</real>
			</array>
			<key>public.kern1.f_LC</key>
			<array>
				<real>0.79</real>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
			</array>
			<key>public.kern1.gamma</key>
			<array>
				<real>0.71</real>
				<real>0.74</real>
				<integer>1</integer>
				<integer>1</integer>
			</array>
			<key>public.kern1.ghe_LC</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>1</integer>
				<real>0.25</real>
			</array>
			<key>public.kern1.hmn_LC</key>
			<array>
				<real>0.79</real>
				<integer>1</integer>
				<real>0.76</real>
				<integer>1</integer>
			</array>
			<key>public.kern1.i_LC</key>
			<array>
				<integer>1</integer>
				<integer>1</integer>
				<real>0.77</real>
				<integer>1</integer>
			</array>
			<key>public.kern1.i_accents_LC</key>
			<array>
				<integer>1</integer>
				<integer>1</integer>
				<integer>0</integer>
				<real>0.25</real>
			</array>
			<key>public.kern1.iota_LC</key>
			<array>
				<integer>1</integer>
				<real>0.5</real>
				<integer>0</integer>
				<real>0.25</real>
			</array>
			<key>public.kern1.j_LC</key>
			<array>
				<integer>1</integer>
				<real>0.86</real>
				<real>0.75</real>
				<integer>1</integer>
			</array>
			<key>public.kern1.k_LC</key>
			<array>
				<real>0.79</real>
				<integer>1</integer>
				<real>0.77</real>
				<integer>1</integer>
			</array>
			<key>public.kern1.l_LC</key>
			<array>
				<real>0.75</real>
				<real>0.88</real>
				<integer>1</integer>
				<integer>1</integer>
			</array>
			<key>public.kern1.leftDescenderCyr_LC</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>0</integer>
				<real>0.25</real>
			</array>
			<key>public.kern1.leftStraight_LC</key>
			<array>
				<integer>0</integer>
				<real>0.5</real>
				<integer>1</integer>
				<real>0.25</real>
			</array>
			<key>public.kern1.o_LC</key>
			<array>
				<real>0.8</real>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
			</array>
			<key>public.kern1.ohorn_LC</key>
			<array>
				<integer>1</integer>
				<real>0.76</real>
				<real>0.74</real>
				<integer>1</integer>
			</array>
			<key>public.kern1.omega_LC</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>0</integer>
				<real>0.25</real>
			</array>
			<key>public.kern1.quotes_curly_left</key>
			<array>
				<integer>1</integer>
				<integer>0</integer>
				<integer>1</integer>
				<real>0.25</real>
			</array>
			<key>public.kern1.quotes_curly_right</key>
			<array>
				<integer>1</integer>
				<integer>0</integer>
				<real>0.5</real>
				<real>0.25</real>
			</array>
			<key>public.kern1.quotes_straight_left</key>
			<array>
				<real>0.5</real>
				<integer>0</integer>
				<integer>1</integer>
				<real>0.25</real>
			</array>
			<key>public.kern1.r_LC</key>
			<array>
				<integer>1</integer>
				<integer>1</integer>
				<real>0.77</real>
				<integer>1</integer>
			</array>
			<key>public.kern1.s_LC</key>
			<array>
				<real>0.76</real>
				<real>0.87</real>
				<integer>1</integer>
				<integer>1</integer>
			</array>
			<key>public.kern1.soft_LC</key>
			<array>
				<integer>1</integer>
				<integer>0</integer>
				<integer>1</integer>
				<real>0.25</real>
			</array>
			<key>public.kern1.t_LC</key>
			<array>
				<integer>1</integer>
				<real>0.77</real>
				<integer>1</integer>
				<integer>1</integer>
			</array>
			<key>public.kern1.te_LC</key>
			<array>
				<real>0.5</real>
				<integer>0</integer>
				<integer>1</integer>
				<real>0.25</real>
			</array>
			<key>public.kern1.u_LC</key>
			<array>
				<real>0.79</real>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
			</array>
			<key>public.kern1.uhorn_LC</key>
			<array>
				<integer>1</integer>
				<real>0.76</real>
				<real>0.74</real>
				<integer>1</integer>
			</array>
			<key>public.kern1.upsilon_LC</key>
			<array>
				<integer>1</integer>
				<integer>1</integer>
				<integer>0</integer>
				<real>0.25</real>
			</array>
			<key>public.kern1.w_LC</key>
			<array>
				<real>0.79</real>
				<integer>1</integer>
				<real>0.76</real>
				<integer>1</integer>
			</array>
			<key>public.kern1.x_LC</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>1</integer>
				<real>0.25</real>
			</array>
			<key>public.kern1.z_LC</key>
			<array>
				<real>0.79</real>
				<integer>1</integer>
				<real>0.76</real>
				<integer>1</integer>
			</array>
			<key>public.kern1.ze_LC</key>
			<array>
				<integer>0</integer>
				<integer>0</integer>
				<integer>1</integer>
				<real>0.25</real>
			</array>
			<key>public.kern1.zhe_LC</key>
			<array>
				<integer>0</integer>
				<real>0.5</real>
				<integer>1</integer>
				<real>0.25</real>
			</array>
			<key>public.kern2.A_UC</key>
			<array>
				<real>0.71</real>
				<real>0.74</real>
				<integer>1</integer>
				<integer>1</integer>
			</array>
			<key>public.kern2.CG_UC</key>
			<array>
				<integer>1</integer>
				<real>0.87</real>
				<real>0.75</real>
				<integer>1</integer>
			</array>
			<key>public.kern2.Che_UC</key>
			<array>
				<integer>0</integer>
				<integer>0</integer>
				<integer>1</integer>
				<real>0.25</real>
			</array>
			<key>public.kern2.Dje_UC</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>1</integer>
				<real>0.25</real>
			</array>
			<key>public.kern2.El_UC</key>
			<array>
				<integer>1</integer>
				<integer>0</integer>
				<real>0.5</real>
				<real>0.25</real>
			</array>
			<key>public.kern2.J_UC</key>
			<array>
				<integer>1</integer>
				<real>0.75</real>
				<real>0.73</real>
				<integer>1</integer>
			</array>
			<key>public.kern2.Lamda_UC</key>
			<array>
				<real>0.5</real>
				<integer>0</integer>
				<integer>1</integer>
				<real>0.25</real>
			</array>
			<key>public.kern2.Omega_UC</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>0</integer>
				<real>0.25</real>
			</array>
			<key>public.kern2.Phi_UC</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>1</integer>
				<real>0.25</real>
			</array>
			<key>public.kern2.RightDescenderCyr_UC</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>0</integer>
				<real>0.25</real>
			</array>
			<key>public.kern2.RightStraight_UC</key>
			<array>
				<real>0.79</real>
				<integer>1</integer>
				<real>0.76</real>
				<integer>1</integer>
			</array>
			<key>public.kern2.S_UC</key>
			<array>
				<integer>1</integer>
				<real>0.77</real>
				<integer>1</integer>
				<integer>1</integer>
			</array>
			<key>public.kern2.Schwa_UC</key>
			<array>
				<integer>1</integer>
				<real>0.5</real>
				<integer>0</integer>
				<real>0.25</real>
			</array>
			<key>public.kern2.T_UC</key>
			<array>
				<integer>1</integer>
				<integer>1</integer>
				<real>0.77</real>
				<integer>1</integer>
			</array>
			<key>public.kern2.U_UC</key>
			<array>
				<real>0.87</real>
				<real>0.75</real>
				<integer>1</integer>
				<integer>1</integer>
			</array>
			<key>public.kern2.Ucyr_UC</key>
			<array>
				<integer>1</integer>
				<integer>1</integer>
				<integer>0</integer>
				<real>0.25</real>
			</array>
			<key>public.kern2.W_UC</key>
			<array>
				<real>0.71</real>
				<real>0.74</real>
				<real>0.99</real>
				<integer>1</integer>
			</array>
			<key>public.kern2.X_UC</key>
			<array>
				<integer>0</integer>
				<integer>0</integer>
				<integer>1</integer>
				<real>0.25</real>
			</array>
			<key>public.kern2.Y_UC</key>
			<array>
				<integer>1</integer>
				<real>0.77</real>
				<integer>1</integer>
				<integer>1</integer>
			</array>
			<key>public.kern2.Ya_UC</key>
			<array>
				<integer>0</integer>
				<real>0.5</real>
				<integer>1</integer>
				<real>0.25</real>
			</array>
			<key>public.kern2.Z_UC</key>
			<array>
				<real>0.75</real>
				<real>0.88</real>
				<integer>1</integer>
				<integer>1</integer>
			</array>
			<key>public.kern2.Ze_UC</key>
			<array>
				<real>0.88</real>
				<real>0.75</real>
				<integer>1</integer>
				<integer>1</integer>
			</array>
			<key>public.kern2.Zhe_UC</key>
			<array>
				<integer>1</integer>
				<integer>0</integer>
				<integer>1</integer>
				<real>0.25</real>
			</array>
			<key>public.kern2.a_LC</key>
			<array>
				<real>0.71</real>
				<real>0.74</real>
				<real>0.99</real>
				<integer>1</integer>
			</array>
			<key>public.kern2.alpha_LC</key>
			<array>
				<integer>1</integer>
				<real>0.87</real>
				<real>0.75</real>
				<integer>1</integer>
			</array>
			<key>public.kern2.bhk_LC</key>
			<array>
				<integer>1</integer>
				<real>0.76</real>
				<real>0.73</real>
				<integer>1</integer>
			</array>
			<key>public.kern2.che_LC</key>
			<array>
				<integer>0</integer>
				<real>0.5</real>
				<integer>1</integer>
				<real>0.25</real>
			</array>
			<key>public.kern2.de_LC</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>1</integer>
				<real>0.25</real>
			</array>
			<key>public.kern2.el_LC</key>
			<array>
				<integer>1</integer>
				<integer>0</integer>
				<integer>1</integer>
				<real>0.25</real>
			</array>
			<key>public.kern2.epsilon_LC</key>
			<array>
				<integer>1</integer>
				<integer>0</integer>
				<integer>1</integer>
				<real>0.25</real>
			</array>
			<key>public.kern2.f_LC</key>
			<array>
				<integer>1</integer>
				<integer>1</integer>
				<real>0.77</real>
				<integer>1</integer>
			</array>
			<key>public.kern2.gamma</key>
			<array>
				<integer>1</integer>
				<real>0.76</real>
				<real>0.73</real>
				<integer>1</integer>
			</array>
			<key>public.kern2.i_LC</key>
			<array>
				<integer>1</integer>
				<real>0.86</real>
				<real>0.75</real>
				<integer>1</integer>
			</array>
			<key>public.kern2.i_accents_LC</key>
			<array>
				<integer>1</integer>
				<integer>0</integer>
				<real>0.5</real>
				<real>0.25</real>
			</array>
			<key>public.kern2.iota_LC</key>
			<array>
				<integer>1</integer>
				<real>0.5</real>
				<integer>0</integer>
				<real>0.25</real>
			</array>
			<key>public.kern2.j_LC</key>
			<array>
				<integer>1</integer>
				<integer>1</integer>
				<integer>0</integer>
				<real>0.25</real>
			</array>
			<key>public.kern2.mnpr_LC</key>
			<array>
				<integer>1</integer>
				<real>0.88</real>
				<real>0.74</real>
				<integer>1</integer>
			</array>
			<key>public.kern2.o_LC</key>
			<array>
				<integer>1</integer>
				<real>0.87</real>
				<real>0.75</real>
				<integer>1</integer>
			</array>
			<key>public.kern2.omega_LC</key>
			<array>
				<integer>1</integer>
				<integer>0</integer>
				<real>0.5</real>
				<real>0.25</real>
			</array>
			<key>public.kern2.quotes_curly_left</key>
			<array>
				<integer>0</integer>
				<real>0.5</real>
				<integer>1</integer>
				<real>0.25</real>
			</array>
			<key>public.kern2.quotes_curly_right</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>1</integer>
				<real>0.25</real>
			</array>
			<key>public.kern2.quotes_straight_right</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>0</integer>
				<real>0.25</real>
			</array>
			<key>public.kern2.rightStraight_LC</key>
			<array>
				<integer>1</integer>
				<integer>0</integer>
				<integer>0</integer>
				<real>0.25</real>
			</array>
			<key>public.kern2.s_LC</key>
			<array>
				<real>0.79</real>
				<integer>1</integer>
				<real>0.77</real>
				<integer>1</integer>
			</array>
			<key>public.kern2.schwa_LC</key>
			<array>
				<integer>1</integer>
				<integer>1</integer>
				<integer>0</integer>
				<real>0.25</real>
			</array>
			<key>public.kern2.t_LC</key>
			<array>
				<real>0.79</real>
				<integer>1</integer>
				<real>0.77</real>
				<integer>1</integer>
			</array>
			<key>public.kern2.te_LC</key>
			<array>
				<integer>1</integer>
				<real>0.5</real>
				<integer>0</integer>
				<real>0.25</real>
			</array>
			<key>public.kern2.u_LC</key>
			<array>
				<real>0.86</real>
				<real>0.75</real>
				<integer>1</integer>
				<integer>1</integer>
			</array>
			<key>public.kern2.upsilon_LC</key>
			<array>
				<integer>1</integer>
				<integer>0</integer>
				<integer>0</integer>
				<real>0.25</real>
			</array>
			<key>public.kern2.w_LC</key>
			<array>
				<real>0.71</real>
				<real>0.74</real>
				<integer>1</integer>
				<integer>1</integer>
			</array>
			<key>public.kern2.x_LC</key>
			<array>
				<integer>0</integer>
				<integer>0</integer>
				<integer>1</integer>
				<real>0.25</real>
			</array>
			<key>public.kern2.ya_LC</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>0</integer>
				<real>0.25</real>
			</array>
			<key>public.kern2.z_LC</key>
			<array>
				<real>0.75</real>
				<real>0.88</real>
				<integer>1</integer>
				<integer>1</integer>
			</array>
			<key>public.kern2.ze_LC</key>
			<array>
				<real>0.5</real>
				<integer>0</integer>
				<integer>1</integer>
				<real>0.25</real>
			</array>
			<key>public.kern2.zhe_LC</key>
			<array>
				<real>0.5</real>
				<integer>0</integer>
				<integer>1</integer>
				<real>0.25</real>
			</array>
		</dict>
		<key>public.glyphOrder</key>
		<array>
			<string>A</string>
			<string>V</string>
		</array>
	</dict>
</plist>
