<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>com.defcon.sortDescriptor</key>
		<array>
			<dict>
				<key>ascending</key>
				<array>
					<string>k</string>
					<string>v</string>
					<string>w</string>
					<string>y</string>
					<string>nu</string>
					<string>yacute</string>
					<string>ydieresis</string>
					<string>ycircumflex</string>
					<string>ygrave</string>
					<string>ydotbelow</string>
					<string>yhookabove</string>
					<string>ytilde</string>
					<string>ymacron</string>
					<string>wcircumflex</string>
					<string>wgrave</string>
					<string>wacute</string>
					<string>wdieresis</string>
					<string>icyr</string>
					<string>em</string>
					<string>ucyr</string>
					<string>ushort</string>
					<string>umacroncyr</string>
					<string>udieresiscyr</string>
					<string>uhungarumlautcyr</string>
					<string>ustraight</string>
					<string>ustraightstroke</string>
					<string>el.bgr</string>
					<string>breve.cyrcomb</string>
					<string>macroncomb</string>
					<string>dieresiscomb</string>
					<string>hungarumlautcomb</string>
					<string>u-stroke</string>
					<string>circumflexcomb</string>
					<string>gravecomb</string>
					<string>acutecomb</string>
					<string>dotbelowcomb</string>
					<string>hookabovecomb</string>
					<string>tildecomb</string>
				</array>
				<key>type</key>
				<string>glyphList</string>
			</dict>
		</array>
		<key>com.typemytype.robofont.compileSettings.autohint</key>
		<true/>
		<key>com.typemytype.robofont.compileSettings.checkOutlines</key>
		<false/>
		<key>com.typemytype.robofont.compileSettings.createDummyDSIG</key>
		<true/>
		<key>com.typemytype.robofont.compileSettings.decompose</key>
		<false/>
		<key>com.typemytype.robofont.compileSettings.generateFormat</key>
		<integer>0</integer>
		<key>com.typemytype.robofont.compileSettings.releaseMode</key>
		<false/>
		<key>com.typemytype.robofont.italicSlantOffset</key>
		<integer>0</integer>
		<key>com.typemytype.robofont.segmentType</key>
		<string>qcurve</string>
		<key>com.typemytype.robofont.shouldAddPointsInSplineConversion</key>
		<integer>1</integer>
		<key>public.glyphOrder</key>
		<array>
			<string>k</string>
			<string>v</string>
			<string>w</string>
			<string>y</string>
			<string>nu</string>
			<string>yacute</string>
			<string>ydieresis</string>
			<string>ycircumflex</string>
			<string>ygrave</string>
			<string>ydotbelow</string>
			<string>yhookabove</string>
			<string>ytilde</string>
			<string>ymacron</string>
			<string>wcircumflex</string>
			<string>wgrave</string>
			<string>wacute</string>
			<string>wdieresis</string>
			<string>icyr</string>
			<string>em</string>
			<string>ucyr</string>
			<string>ushort</string>
			<string>umacroncyr</string>
			<string>udieresiscyr</string>
			<string>uhungarumlautcyr</string>
			<string>ustraight</string>
			<string>ustraightstroke</string>
			<string>el.bgr</string>
			<string>breve.cyrcomb</string>
			<string>macroncomb</string>
			<string>dieresiscomb</string>
			<string>hungarumlautcomb</string>
			<string>u-stroke</string>
			<string>circumflexcomb</string>
			<string>gravecomb</string>
			<string>acutecomb</string>
			<string>dotbelowcomb</string>
			<string>hookabovecomb</string>
			<string>tildecomb</string>
			<string>breve.cyr</string>
		</array>
	</dict>
</plist>
