<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>color</key>
		<string>0,0.5046,0,0.7</string>
		<key>lib</key>
		<dict>
			<key>org.unifiedfontobject.normalizer.imageReferences</key>
			<dict>
			</dict>
			<key>org.unifiedfontobject.normalizer.modTimes</key>
			<string>version: 0.6.3
1758236030.4 O_.glif
1758236030.4 O_slash.glif
1758236030.4 cent.glif
1758236030.4 coloncurrency.glif
1758236030.4 coloncurrency.rvrn.glif
1758236030.4 diagonalbarO_.glif
1758236030.4 diagonalbaro.glif
1758236030.4 dollar.glif
1758236030.4 naira.glif
1758236030.4 o.glif
1758236030.4 oslash.glif
1758236030.4 uni20B_1.glif
1758236030.4 uni20B_2.glif
1758236030.4 uni20B_5.glif
1758236030.4 won.glif</string>
		</dict>
	</dict>
</plist>
